@use 'variaveis';

.footer-local {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
}

.footer-address {

    h2 {
        font-family: variaveis.$colortext;
        padding-bottom: 12px;
        font-weight: 400;
        font-size: 20px;
    }

    address {
        font-size: 16px;
    }
}

.footer-social {

    &--item{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding-top: 12px;
    }
}

svg {
    color: #000;
}
