@use 'variaveis';

.header-frase {
    display: flex;
    justify-content: center;
    padding-top: 70px; 
}

img {
    padding-top: 30px;
    width: 700px;
}

.header-img {
    display: flex;
    justify-content: center;
}

.header-frase h1 {
    font-family: variaveis.$colortext;
    font-size: 32px;
    color: #daa520;
    border: 2px solid #daa520;
    border-radius: 8px;
    padding: 16px;
}

.text2 {
    color: #43340e;
}

.header-p {
    display: flex;
    justify-content: center;
    font-family: variaveis.$colortext2;
    font-size: 32px;
    font-weight: 800;
    padding-top: 12px;
    color: #daa520;
}

#contador {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 800;
    color: #43340e;
}
