@use 'variaveis';
@use 'header';
@use 'section';
@use 'footer';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-image: url(./imagens/baloes-dourado.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 1400px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}


