@use 'variaveis';

section {
    width: 100%;
    height: 100vh;
}

.section-presentes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    p {
        text-align: center;
        font-family: variaveis.$colortext2;
    }
}

.section-img {
    width: 200px;

    &--active {
        width: 350px;
    }
}